<html>
<body>
  <h1>Search Course</h1>
  <form action=" /getCourse" method="POST">
    
      <div class="form-group">
        <label for="courseId">Course Id</label>
        <input type="text" class="form-control" name="courseId" id="courseId" placeholder="Enter courseId" required>
      </div>
      
      <div class="form-group">
          <button class="btn btn-primary"> Submit</button>
      </div>
</body>

</html>
