<style>
    .container {
        margin: auto;
        margin-top: 25px;
        border: 1px solid black;
    }
</style>
<div class="container">
    <h2>Admin Login</h2>
    <form action="/loginUser" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" id="email" name="email" required placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required placeholder="password">
        </div>

        <div class="form-group ">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
    <form action="/registerUser">
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    
</div>