<div>
    <div style="text-align: center;">
      <h1 style=" text-align: center;color: red;"> Error !!!</h1>
      <h2 style=" text-align: center;">User Not Logged In</h2>
      <form action="/">
        <button class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
  