<html>
    <body>
        <h1>Make Announcement:</h1>
        <form action="/addAnnouncement" method="POST">
        <input type="text" name="courseId" id="courseId" placeholder="Enter CourseId"/>
        <input type="textarea" name="instruct_remark" id="instruct_remark" placeholder="Enter Description"/>
        <input type="submit" name="submit"/>
        </form>
    </body>
</html>